<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>QnA System</title>
<object th:include="fragments/header :: head" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#questions" data-toggle="tab">Questions</a></li>
			<li><a href="#latest" data-toggle="tab">Latest</a></li>
		</ul>
		<div class="tab-content clearfix">
			<div class="tab-pane active" id="questions">
				<table id="questions" class="table">
					<tbody>
						<th:block th:each="q: ${questions}">
							<tr>
								<td th:text="${q.question}"></td>
								<td>
									<div class="row-area text-lowercase small" th:each="t: ${q.topics}">
										<span class="col-md-2 bg-primary" style="margin-right:1px;" th:text="${t.name}"></span>
									</div>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
			<div class="tab-pane" id="latest">
				<table id="latest" class="table table-striped">
					<tbody>
						<th:block th:each="l: ${latest}">
							<tr>
								<td th:text="${l.question}"></td>
								<td>
									<div class="row-area" th:each="t: ${l.topics}">
										<span class="col-md-2 bg-primary" style="margin-right:1px;" th:text="${t.name}"></span>
									</div>
								</td>
							</tr>
						</th:block>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>