<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>QnA System</title>
<object th:include="fragments/header :: head" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<h1 th:text="${question.question}"></h1>
		<p class="text-justify" th:text="${question.description}"></p>
		<th:block th:each="t: ${question.topics}">
			<span class="label label-primary" style="margin-right: 1px;"
				th:text="${t.name}"></span>
		</th:block>
		<hr />
		<div>
			<th:block th:if="${not #lists.isEmpty(question.answers)}"
				th:each="a: ${question.answers}">
				<p th:inline="text"><strong>[[${a.user.firstName}]] [[${a.user.middleName}]] [[${a.user.lastName}]]</strong>, [[${a.user.description}]]</p>
				<span th:text="${a.answer}"></span>
				<th:block th:if="${not #lists.isEmpty(a.comments)}"
					th:each="c: ${a.comments}">
					<span th:text="${c.comment}"></span>
				</th:block>
				<hr />
			</th:block>
		</div>
	</div>
</body>

</html>